.section-three-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200vh;
    background-color: black;
    color: wheat;
    position: relative;
}

.section-three-wrapper .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../Assets/wave2.png");
    background-size: 1000px 100px;
    transform: rotate(0);
}


.section-three-wrapper .big-text:nth-child(1){
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 12%;
    font-family: Blanka;
}

.section-three-wrapper .big-text:nth-child(2){
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    bottom: 50%;
    font-family: Greek;
}

.section-three-wrapper .big-text:nth-child(3){
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    bottom: 17%;
    font-family: Barlow;
    text-transform: uppercase;
}


.section-three-wrapper h1,
.section-three-wrapper h2{
    margin: 0;
    padding: 0;
}

.section-three-wrapper .big-text:nth-child(1) h1{
    font-size: 60px;
}

.section-three-wrapper .big-text:nth-child(2) h1{
    font-size: 65px;
}

.section-three-wrapper .big-text:nth-child(3) h1{
    font-size: 65px;
}


.section-three-wrapper .big-text:nth-child(1) h2{
    font-size: 40px;
}

.section-three-wrapper .big-text:nth-child(2) h2{
    font-size: 45px;
}

.section-three-wrapper .big-text:nth-child(3) h2{
    font-size: 45px;
}




@media (max-width: 768px) {

    
    .section-three-wrapper .wave {
        transform: rotate(0);
        top: -20px;
        height: 40px;
        background-size: 100vw 40px;
    }
    
    
    .section-three-wrapper .big-text:nth-child(1){
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 20%;
        font-family: Blanka;
    }
    
    .section-three-wrapper .big-text:nth-child(2){
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 48%;
        font-family: Greek;
    }
    
    .section-three-wrapper .big-text:nth-child(3){
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: 17%;
        font-family: Barlow;
        text-transform: uppercase;
    }
    
    
    .section-three-wrapper h1,
    .section-three-wrapper h2{
        margin: 0;
        padding: 0;
    }
    
    .section-three-wrapper .big-text:nth-child(1) h1{
        font-size:  30px;
    }
    
    .section-three-wrapper .big-text:nth-child(2) h1{
        font-size: 30px;
    }
    
    .section-three-wrapper .big-text:nth-child(3) h1{
        font-size: 25px;
    }
    
    
    .section-three-wrapper .big-text:nth-child(1) h2{
        font-size: 20px;
    }
    
    .section-three-wrapper .big-text:nth-child(2) h2{
        font-size: 25px;
    }
    
    .section-three-wrapper .big-text:nth-child(3) h2{
        font-size: 25px;
    }
    

}