.header-wrapper{
    position: absolute;
    top: 0;
    height: var(--size);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}


.header-wrapper .title{
    position: absolute;
    display: flex;
    z-index: 999;
    font-size: 30px;
}