.landingpage-wrapper{
    width: 100vw;
    height: 100%;
    position: relative;
}

.landingpage-wrapper .social-networks{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: -80px;
    bottom: 90px;
    z-index: 9999;
    transform: rotate(-90deg);
}

.landingpage-wrapper .social-networks p{
    font-size: 25px;
    color: wheat;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 20px;

}

.landingpage-wrapper .social-networks p:hover{
    color: #C259D7;

}