:root{
    --size: calc(100vw/20)
}

@font-face {
    font-family: Blenny;
    src: url("./Fonts/Blenny_Trial_Blk.ttf");
}


@font-face {
    font-family: Brams;
    src: url("./Fonts/Brams-K7DWW.otf");
}


@font-face {
    font-family: Buttershine;
    src: url("./Fonts/ButtershineSerif\ 400.otf");
}

@font-face {
    font-family: Blanka;
    src: url("./Fonts/Blanka-Regular.otf");
}


@font-face {
    font-family: Greek;
    src: url("./Fonts/Greek-Freak.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("./Fonts/Barlow-Light.ttf");
}